{{>licenseInfo}}
{{#apiInfo}}
{{#apis}}
export * from 'api/{{name}}.ts';
import { {{ classname }} } from 'api/{{name}}.ts';
{{/apis}}
export const APIS = [{{#apis}}{{ classname }}{{^-last}}, {{/-last}}{{/apis}}];
{{/apiInfo}}
