{{>licenseInfo}}
{{#apiInfo}}
{{#apis}}
export * from './api/{{classname}}';
import { {{ classname }} } from './api/{{classname}}';
{{/apis}}
export const APIS = [{{#apis}}{{ classname }}{{^-last}}, {{/-last}}{{/apis}}];
{{/apiInfo}}
