{{#oldEnums}}
export type {{classname}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}};

export const {{classname}} = {
{{#allowableValues}}
{{#enumVars}}
    {{name}}: {{{value}}} as {{classname}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}
{{/oldEnums}}
{{^oldEnums}}
export enum {{nameInCamelCase}}{{^nameInCamelCase}}{{classname}}{{/nameInCamelCase}} {
{{#allowableValues}}{{#enumVars}}
  {{name}} = '{{name}}',
{{/enumVars}}{{/allowableValues}}
}
{{/oldEnums}}
